body{
	background: #16a;
	color:#fff;
	font-family: "Open Sans", arial;
	font-weight:200;
}

nav ul{
	list-style:none;
	padding:0;
	text-align:center;
}

nav ul li{
	display:inline-block;
}

nav ul li a{
	color:white;
	text-decoration: none;
	padding:0.5em 1.88em;
	transition: all 0.3s ease-in-out;
	position:relative;
	text-align:center;
}

nav ul li a:before{
	border-top: 5px solid white;
	content: "";
	position: absolute;
	width: 100%;
	margin-top: -0.7em;
	text-align: center;
	left:0;
	transition:all 0.5s ease-in-out;
	z-index:-1;
}

nav ul li a:hover{
	background:rgba(0,0,0,0.5);
}
nav ul li a:hover:before{
	border-top: 5px solid white;
	content: "";
	position: absolute;
	margin-top: 1.55em;
	text-align: center;
}

.crear-nuevo{
	background:#fff;
	color:#16a;
	padding:0.5em 1.5em;
	text-decoration:none;
	font-weight:200;
	font-size:1.8em;
	margin:1em 0;
	display:block;
	transition: 0.5s ease-in-out;
	text-align: center;
}

.crear-nuevo:hover{
	background:rgba(0,0,0,0.5);
	color:white;
}

#contenedor{
	width:100%;
	max-width:993px;
	margin: 0 auto;
}

footer{
	width:100%;
	max-width:500px;
	margin:0 auto;
	text-align: center;
	margin-top:0.8em;
}

h1.saludo{
	display: block;
	color: #16a;
	background: white;
	padding: 0.3em 0.8em;
	font-weight: 200;
	font-size: 2em;
}
h1.saludo small {
font-size: 0.5em;
}

#ui-datepicker-div {font-size:13px;}

#listar_todos{
	background: rgb(22, 62, 88);	
	width: 100%;
	text-align: center;	
}
#listar_todos thead{
	background: rgb(74, 154, 240);
	font-weight: 600;

}
#listar_todos thead td {
	padding: 0.4em;	
}

#listar_todos a{	
	color:white;	
	color: rgb(0, 194, 255);
	text-decoration: none;
	padding: 0.2em;
	line-height: 2em;
}
#listar_todos a:hover{
	color: white;
}
#listar_todos tbody td{
	transition: all 0.3s ease-in-out;
}
#listar_todos tbody tr:hover a{
	text-shadow: none;
}
#listar_todos tbody tr:hover{
	text-shadow: 0 0 10px white;

}
#listar_todos tbody tr:nth-child(even) {
background: rgba(0, 0, 0, 0.18);
transition: all 0.3s ease-in-out;
}
#listar_todos tbody tr:nth-child(even):hover {
background: transparent;
}
form input{
	padding: 0.5em 0.8em;
	font-size: 1em;	
	border: 2px solid #aaa;		
}
form input:hover{
	box-shadow: 0 0 5px white;
	border: 2px solid #fff;
	z-index: 49;
}
h1{
	text-align: center;    
    margin: 0 0 0.5em 0;
    font-size: 2.5em;	
    color:white;
    padding: 0.3em;
}
#form-inicio{
    width: 50%;  margin: 1em auto;  background: #fff;  color: #16a!important;
    padding: 0.5em;
    text-align: center;
}
#form-inicio h2 {
    text-align: center;
    background: #16a;
    margin: 0 0 0.5em 0;
    color:white;
    padding: 0.3em;
}
#form-inicio input{
    display: block;
    width: 90%;
    border: 3px solid rgba(0, 0, 0, 0.41) !important;
    margin: 0.5em 0;
    display: inline-block;
}
#form-inicio form{
    text-align: center;
}
#form-inicio input[type="submit"]{
    width: 97%;
    font-weight: 200;
    color: white;
    background: #444;
    border-color: #444!important;
    cursor: pointer;
}

.sinlogear{
	padding: 0.2em;
	color: white;		
	font-size: 1em;
	text-align: center;	
}

#form-inicio h2 span.chico{
	font-size:0.6em;
	color:#ddd;
	cursor: pointer;
}
#form-inicio h2 span.activo{
	font-size:1em;
	cursor: pointer;
}
span.chico:hover{
	color: #fff;
}
#form-inicio h2 span{
	transition: all 0.3s ease-in-out;
}
input:-webkit-autofill{
    background-color: #fff !important;
}
.accion label{
	padding: 0.2em;
	color: white;
	display: inline-block;	
	font-size: 1.1em;
	margin: 1em 0;

}
form.accion {
	text-align: left;
	width: 60%;

}
.accion select, .accion input{
	padding: 0.3em;
	font-size: 1em;	
	float:right;
	margin: 0.8em 0;
	
}
form.accion label[for=descripcion]{
	font-size:1.8em;
	display:block;
	text-align: center;
	margin-bottom:0.5em;
}

form.accion input[type=submit],form.accion input[name=limpiar]{
display: block;
float: none;
width: 100%;
background: white;
border: 0;
color: #16a;
font-size: 1.8em;
font-weight: 200;

transition: all 0.3s ease-in-out;
}
form.accion input[type=submit]:hover,form.accion input[name=limpiar]:hover{
	background: rgba(0,0,0,0.5);
	color:white;
}


form.accion input, form.accion select{
	font-family: "Open Sans", arial;
}

.mce-container{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif!important;
}